.App {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  /* display: flex; */
}

.header {
  margin-right: 16px;
  margin-top: 10px;
  text-align: right;
  color: #293d55;
}

button {
  font-size: 24pt;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  width: 50px;
  height: 50px;
  margin: 5px;
}

button.clear {
  width: 110px;
}

.calculator {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 300px;
  height: 450px;
  margin: auto;
  margin-top: 2vh;
  background-color: #4c6f9b;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(130, 130, 130);
}

.display {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  width: 70%;
  height: 34px;
  margin: auto;
  margin-top: 24px;
  text-align: right;
  padding: 10px;
  font-size: 20pt;
  background-color: #eceff1;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  overflow: hidden;
}

.history {
  width: 40%;
  margin: auto;
  margin-top: 4vh;
}